
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Manager.cshtml";
    @*<a href="~/Views/Shared/_Layout - Manager.cshtml">~/Views/Shared/_Layout - Manager.cshtml</a>*@
}

@*<h2>Index</h2>*@

